<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-orders" style="background:#007585">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Rental</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="total-orders" style="background:#008285">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Booking</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{booking}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="orders-delivered" style="background:#00a1a6">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Selesai</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-2" id="orders-pending" style="background:#00cacf">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pinjam</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>